body{
  background-color: #A4CCD9;
  /* text-transform: uppercase; */
  text-transform: lowercase;

}
h1{
    text-align: center;
 color:brown
}
h2{
  color:#0065F8;
}
button{
  background-color: #03001C;
  color: white;
}

h{
  color:#b40923;
  text-align:left;
}